# Archivos generales de Vivado
*.jou
*.log
*.str
*.wcfg
*.xpr
*.bit
*.bin
*.pb
*.dcp
*.hwdef
*.tmp
*.bak
*.xml
*.html
*.xdc
*.bat
*.sh
*.tcl
*.ini
*.prj
*.dbg
*.reloc
*.mem
*.rlx
*.rtti
*.svtype
*.xdbg
*.obj
*.sdb
*.dmp

# Carpetas generadas automáticamente
.cache/
.sim/
.runs/
.ip_user_files/
.hw/
.Xil/
.sdk/
.metadata/

# Bloques de diseño
bd/
bd/*/ip/

# Archivos temporales y backups
*.~*
*.backup*

# Excluir carpetas de simulación y compilación
**/xsim.dir/
**/xsim/

# Excepciones (si necesitas alguna)
!*.utilization.rpt
